@{
    ViewBag.Title = "DemandLink Privacy Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<div class="privacy_container">
    <h3 class="privacy-title">Privacy Notice</h3>
    <br />
    <br />
    <h4>General disclaimer</h4>
    <p class="privacy-content">
        While visiting the site, we will not collect any personal information about you unless you choose to provide that information to us.
        If you choose to provide this information, it will be used for the express purpose for which it was intended, such as responding to your
        request for information.  We remind you that if you visit a link outside of the website, you are subject to the privacy policies of that site.
    </p>
    <h4>Information, Collection, Use and Sharing</h4>
    <p class="privacy-content">
        We automatically collect some technical information from you when you visit the site in order to give you the best possible experience.
        We use web measurement technology to automatically track how visitors interact with the site including where they came from, what they did on the
        site and whether they completed any pre-determined tasks while on the site. This information is used to maintain, improve and enhance our services.
    </p>
    <p class="privacy-content">
        We reserve the right to construct and share national, industry-level summaries and benchmarks, in strict accordance with Section 512 of Title V of the
        Confidential Information Protection and Statistical Efficiency Act of 2002 (CIPSEA), which guides all federal agencies to protect data or information acquired
        under confidentiality for exclusively statistical purposes from being disclosed in identifiable form and is followed by the National Statistical Service,
        the State of Oregon, and Oregon State University.  For details on restrictions and methodology,
        please refer to Statistical Policy Working Paper No. 22 (Revised 2005) – Report on Statistical Disclosure Limitation Methodology
        <a href="https://www.hhs.gov/sites/default/files/spwp22.pdf" target="_blank" rel="noopener noreferrer">(https://www.hhs.gov/sites/default/files/spwp22.pdf )</a>
    </p>
    <h4>Cookies</h4>
    <p class="privacy-content">
        We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to the site and identify repeat visitors to the site.
        For instance, when we use a cookie to identify you, you would not need to reset custom settings on the site, thereby saving time while on the site.
        Cookies can also enable us to track and target active areas and response times in our site to enhance the experience on the site. Usage of a cookie is in no way
        linked to any personally identifiable information on the site.
    </p>
    <p class="privacy-content">
        If you feel that we are not abiding by this privacy policy, you should contact us immediately via email at <a href="mailto:support@demandlink.com">support@demandlink.com</a>.
    </p>
</div>