<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
  -->
    
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="QVWebConnectionString" connectionString="server=sql04.gms.local;database=QVWeb;Integrated Security=SSPI" />
    <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="ADService" connectionString="LDAP://gms.local/CN=Users;DC=GMS;DC=LOCAL" />
  </connectionStrings>
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="ToolFtpRootDirectory" value="\\yoda.gms.local\\C$\\FTPVertica_Dev\\Forecast\\"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <identity xdt:Transform="SetAttributes(impersonate)" impersonate="true" password="Rule4Time!" userName="gms\Administrator" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <membership>
      <providers>
        <add xdt:Locator="Match(name)" xdt:Transform="RemoveAttributes(connectionProtection, connectionUsername, connectionPassword)" name="AspNetActiveDirectoryMembershipProvider"
             type="System.Web.Security.ActiveDirectoryMembershipProvider,  System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
  </system.web>
</configuration>