<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="FilePath" value="" />
    <add key="FTPPath" value="ftp://ftp2.greenmarketsystems.com/Forecast/" />
    <add key="CredUser" value="forecast_user" />
    <add key="CredPass" value="forecast" />
    <add key="Vertica_DB_Schema" value="_Dev" />
    <add key="Production" value="false" />
    <add key="Data_Drive_Location" value="C:\\WebData\\" />
    <add key="Forecast_Bookmark_Version" value="1.0.0" />
    <add key="e2e_Url" value="https://forecast2.demandlink.com" />
	<add key="e2e_User1_UserName" value="AltmanTestUser" />
	<add key="e2e_User1_Password" value="devGMS321" />
    <add key="e2e_User3_UserName" value="AltmanTestUser" />
    <add key="e2e_User3_Password" value="devGMS321" />
    <add key="e2e_User67_UserName" value="AcostaTestUser" />
    <add key="e2e_User67_Password" value="devGMS321" />
    <add key="e2e_User57_UserName" value="BergensTestUser" />
    <add key="e2e_User57_Password" value="devGMS321" />
    <add key="e2e_User41_UserName" value="YoungsTestUser" />
    <add key="e2e_User41_Password" value="devGMS321" />
    <add key="e2e_User32_UserName" value="BattlefieldTestUser" />
    <add key="e2e_User32_Password" value="devGMS321" />
    <add key="e2e_User38_UserName" value="VillageTestUser" />
    <add key="e2e_User38_Password" value="devGMS321" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vertica.Data" publicKeyToken="725728a8837b3bd5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.3.0" newVersion="7.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
