<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Insert">
    <add name="VerticaConnectionString" connectionString="host=104.215.124.185;port=5433;user=forecast_user;password=forecast;database=demandlink;BackupServerNode=40.124.42.202, 40.124.42.238; ConnectionLoadBalance=True; Label=Forecast" />
    <add name="QVWebConnectionString" connectionString="server=sql04.gms.local;database=QVWeb;Integrated Security=false; User ID=DLSysConfig; Password=c0nf1g!" />

  </connectionStrings>
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="e2e_Url" value="http://forecast3.demandlink.com" /> 
  </appSettings>
</configuration>